<section>
  <nav class="bg-blue-500 text-white px-6 py-4">
    <div class="flex items-center justify-between">
      <!-- Left-side menu items -->
      <ul class="flex space-x-6">
        <li class="hover:text-black hover:underline font-bold cursor-pointer"><a href="#" routerLink="/app-home">Home</a></li>
        <li class="hover:text-black hover:underline font-bold cursor-pointer"><a href="#" routerLink="/app-home">About</a></li>
        <li class="hover:text-black hover:underline font-bold cursor-pointer"><a href="#" routerLink="/app-home">Contact</a></li>
        <li class="hover:text-black hover:underline font-bold cursor-pointer"><a href="#" routerLink="/app-home">Service</a></li>
      </ul>

      <!-- Right-side Sign Out -->
      <ul>
        <li type="button" class="hover:text-black hover:underline font-bold cursor-pointer" (click)="logout()">Sign Out</li>
      </ul>
    </div>
  </nav>
</section>

