<section>
  <nav class="bg-blue-500 text-white px-6 py-4">
    <div class="flex items-center justify-between">
      <!-- Left Section: Logo and Dashboard -->
      <div class="flex items-center space-x-6">
        <a href="#" class="flex items-center">
          <img src="assets/images/development.png"
            class="w-8 h-8 rounded-full object-cover border border-black p-1 hover:bg-white" alt="Logo">
        </a>
        <ul class="flex space-x-6">
          <ng-container>
            <li class="hover:text-black hover:underline font-bold cursor-pointer">
              <a routerLink="app-home">Home</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role === 'Admin'">
            <li class="hover:text-black hover:underline font-bold cursor-pointer">
              <a routerLink="app-admin-dashboard">Dashboard</a>
            </li>
            <li class="hover:text-black hover:underline font-bold cursor-pointer">
              <a routerLink="app-employees">Leave</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role === 'Employee'">
            <li class="hover:text-black hover:underline font-bold cursor-pointer">
              <a routerLink="app-employee-dashboard">Profile</a> 
            </li>
            <li class="relative font-bold text-white cursor-pointer" (click)="toggleDropdown()">
              <div class="hover:text-black hover:underline">Leave</div>

              <div *ngIf="dropdownOpen" class="absolute bg-white text-black mt-2 w-40 rounded shadow-lg z-10">
                <a routerLink="app-apply-leave" class="block px-4 py-2 hover:bg-blue-100 cursor-pointer"
                  (click)="closeDropdown()">
                  Apply Leave
                </a>
                <a routerLink="app-my-leaves" class="block px-4 py-2 hover:bg-blue-100 cursor-pointer"
                  (click)="closeDropdown()">
                  Check Leaves
                </a>
              </div>
            </li>
          </ng-container>
        </ul>
      </div>

      <!-- Right Section: Role & Sign Out -->
      <div class="flex items-center space-x-6">
        <span class="font-bold">{{ role }}</span>
        <button type="button" class="hover:text-black hover:underline font-bold cursor-pointer" (click)="logout()">
          Sign Out
        </button>
      </div>
    </div>
  </nav>
</section>